* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 36px;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	background-color: #333;
}

a {
	color: white;
	text-decoration: none;
}

a:link {
	color: lime;
}

a:visited {
	color: tomato;
}

a:hover {
	color: royalblue;
}

a:active {
	background-color: gold;
}
