* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 36px;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	background-color: #333;
}

.btn {
	padding: 10px 20px;
	background-color: tomato;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background-color: gold;
	box-shadow: 0 0 5px gold;
}
